<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.LikeMapper">
    <resultMap type="com.example.app.model.Heart" id="heart">
        <id property="id" column="id"/>
        <result property="post_id" column="post_id"/>
        <result property="user_id" column="user_id"/>
        <result property="is_like" column="is_like"/>
    </resultMap>
</mapper>
