<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">
    <resultMap type="com.example.app.model.User" id="user">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar_url" column="avatar_url"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>
</mapper>
